<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1072591995455-9tm5cs4p5lphg52ljg0g1uksmrn5f7k2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1072591995455-9tm5cs4p5lphg52ljg0g1uksmrn5f7k2</string>
	<key>API_KEY</key>
	<string>AIzaSyD2f2CmLErs2ZOLll7-7TvVCD2iPKViuhQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1072591995455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.indian.Twitter-Clone</string>
	<key>PROJECT_ID</key>
	<string>twitter-clone-69822</string>
	<key>STORAGE_BUCKET</key>
	<string>twitter-clone-69822.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1072591995455:ios:da0841f4fdc298c64bae8a</string>
</dict>
</plist>